<style>
        table.type06 {
        border-collapse: collapse;
        text-align: left;
        line-height: 1.5;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin: 20px 10px;
        }
        table.type06 th {
        width: 200px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        }
        table.type06 td {
         width: 400px;
         padding: 10px;
         vertical-align: top;
        }   
        table.type06 .even {
         background: #efefef;
        }
        a{
            text-decoration: none;
            color: gray;
        }
</style>